*{
  box-sizing: border-box;
}
body{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
.container{
  max-width: 1030px;
  padding: 0 15px;
  margin: 0 auto;
}

.header{
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding-top: 110px;
}
.header__inner{
  text-align: center;
  width: 530px;
  height: 530px;
  border-radius: 50%;
  border: 10px solid #f4d4a5;
  background-color: #fff;
  padding-top: 13px;
  padding-bottom: 160px;
  margin-left: 155px;
}
.header__name{
  padding-top: 12px;
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 35px;
  margin-bottom: 15px;
  color: #bf4200;
}
.phone{
  font-weight: 300;
  font-size: 35px;
  margin-bottom: 40px;
  text-decoration: none;
  color: black;
  display: inline-block;
}
.header__title{
  text-transform: uppercase;
  color: #1fad26;
  font-weight: 600;
  padding: 0 5px;
  font-size: 50px;
}
.header__present{
  margin-top: 40px;
}

.main{
  text-align: center;
  padding-top: 60px;
}
.main__title{
  margin-bottom: 60px;
  font-size: 41px;
  color: #d07a2d;
}
.main__text{
  font-size: 30px;
}
.main__img{
  padding: 90px 0;
}

.project__title{
  margin-bottom: 110px;
  font-size: 41px;
  color: #d07a2d;
  font-weight: 700;
}
.project__item{
padding-bottom: 80px;
}
.project__name{
  font-size: 32px;
  font-weight: 700;
}
.project__size{
  font-size: 25px;
}
.project__area{
  font-size: 25px;
}
.project__price{
  color: #bf4200;
  font-size: 25px;
padding-bottom: 30px;
}

.download{
  background-color: #f1dfbc;
  justify-content: center;
  padding: 30px;
}
.download a{
  display: flex;
  justify-content: center;
  width: 600px;
  height: 85px;
  background-color: #17753b;
  border: 5px solid #effd15;
  border-radius: 3%;
  text-align: center;
  align-items: center;
  font-weight: 700;
  font-size: 32px;
  color: #fff;
  text-transform: uppercase;
  margin: auto;
}

.gallery__title{
  text-transform: uppercase;
  padding-top: 100px;
  padding-bottom: 40px;
  font-weight: 700;
  color: #d07a2d;
  font-size: 41px;
}
.gallery__text{
  padding-bottom: 50px;
  font-size: 25px;
}
.gallery__inner{
  display: flex;
  flex-wrap: wrap;
}
.gallery__inner img{
  display: block;
}

.footer{
  text-align: center;
}
.footer .phone{
  font-weight: 700;
}
.footer__email{
  padding-top: 40px;
  padding-bottom: 150px;
  color: #2f8bc5;
  font-size: 30px;
  font-weight: 300;
  font-family: 'Lato', sans-serif;
  border-bottom: 1px solid #2f8bc5;
}